body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
}

main { 
    display: grid;
    grid-template-columns: 35% 65%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
    padding: 0;
}

#main-left-resume {
    border-right: 1px solid lightgray;
}

#main-left-portfolio {
    border-right: 1px solid lightgray;
}


/* CUSTOM ENTRIES */

.container {
    display : flex;
    justify-content:space-evenly;
}


.description {
    font-size: 15px;
}

.bullet-point {
    list-style-type:square;
    margin-bottom: 20px;
}

.bullet-point a {
    text-decoration: none;
    font-size: 15px;
    /* border: 1px; */
    /* width: 20px; */
    /* padding: 5px 35px; */
    color: #272727;
    /* background-color: #f5f5f5; */
} 

.bullet-point a:hover {
    color: #779696;
    /* background-color: #779696; */
}

.contact-entry {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
}

.contact-entry a {
    text-decoration: none;
    font-size: 15px;
    /* border: 1px; */
    /* width: 20px; */
    /* padding: 5px 35px; */
    color: #272727;
    /* background-color: #f5f5f5; */
} 

.education-entry {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
}

.text-justified {
    text-align: justify;
    hyphens: auto;
    /* Vendor prefixes for broader compatibility */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.skill-list {
    margin: 0px 20px;
    padding: 0px 10px;
}

.paragraph-highlight {
    color:#215548;
    font-weight:400;
}

.anchor-icon {
    font-size: 12px;
}

.job-company {
    font-size: 15px;
    font-weight:550;
}

.job-position {
    font-size: 15px;
    font-weight:550;
}

.table-text {
    color: #494949;
}


/* CUSTOM ENTRIES - NAVIGATION */

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav-list {
    flex: 1;
    padding: 20px;
    margin: 20px;
    
}

#nav-list a {
    text-decoration: none;
    font-size: 15px;
    border: 1px;
    width: 20px;
    padding: 5px 35px;
    color: #272727;
    background-color: #f5f5f5;
}

#nav-list a:hover {
    color: #ececec;
    background-color: #779696;
}




