body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
}

main { 
    display: grid;
    grid-template-columns: 35% 65%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
    padding: 0;
}

#mainLeft {
    border-right: 1px solid lightgray;
}

.description {
    font-size: 15px;
}

.bullet-point {
    margin-bottom: 10px;
}

.contact-entry {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
}

.education-entry {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
}

.text-justified {
    text-align: justify;
}

.skill-list {
    margin: 0px 20px;
    padding: 0px 10px;
}

.job-company {
    font-size: 15px;
    font-weight:550;
}

.job-position {
    font-size: 15px;
    font-weight:550;
}


